*{
    margin: 0;
    padding: 0;
}
body{
    background: linear-gradient(180deg, #faf1e4 0%, #f1ddba 60%, #e8cfa3 100%);

}
.carouselle{
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(image/japon-asakusa.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80vh;
}
#hyppertext{
    color: brown;
}
.title-principal{
    margin: 40px;
    font-size: 40px;
    font-weight: 800;
    font-family: sans-serif;
    text-align: center;
    color: #6a1010 ;
}
.content-service{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 40px;
    gap: 10px;
}
.icon-service{
    font-size: 80px;
    color: #6a1010;
    text-align: center;
    margin-bottom: 20px;
}
.service-div{
    width: 400px;
    
}